.about-container {
  background: #fff;
  height: 100vh;
}

.parent-container-about-page {
  width: 80vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header-black {
  position: relative;
  /* background: var(--color-background-black); */
  border-radius: 15px;
  margin-top: 2rem;
}

.hidden-container {
  position: absolute;
  background: var(--color-background-black);

  /* z-index: 10; */
  top: -5rem;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);

  height: 2rem;
  width: 2rem;
}

.footer-container {
  margin-bottom: 2.5rem;
}
