<div class="ideas-container-bottom">
    <div class="container-bottom-left">
        <h1>BOUNCE</h1>
        <div>
            <p>Bounce Agency</p>
            <p>Based out of Bhopal</p>
        </div>
    </div>
    <div class="container-bottom-buttons">
        <button>LinkedIn</button>
        <button>Twitter</button>
        <button>Instagram</button>
    </div>
</div>