<nav>
    <div class="navigation-content">
        <h1 class="title">BOUNCE</h1>
        <div class="toggle-dot"></div>
        <ul class="header-content">
            <li class="btn-active header-li-el"> <a href="/">Home</a> </li>
            <li class="header-li-el"> <a href="/about">About Us</a> </li>
            <li class="header-li-el"> <a href="/services">Services</a> </li>
            <li class="header-li-el"> <a href="/contact-us">Contact Us</a> </li>
        </ul>
    </div>
    
</nav>
