<nav class="navigation-content">
    <h1>BOUNCE</h1>
    <div class="toggle-dot"></div>
    <ul class="header-content hidden">
        <li class="btn-active"> <a href="/">Home</a> </li>
        <li> <a href="/about">About Us</a> </li>
        <li> <a href="/services">Services</a> </li>
        <li> <a href="/contact-us">Contact Us</a> </li>
    </ul>
    
</nav>
